@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Mark Hollier</h3>

<address>
    1968 Falcon Hill Circle<br />
    Sandy, UT 84092<br />
    Email: <a href="mailto:mhollier@yahoo.com">mhollier@yahoo.com</a>
</address>
